In [1]:
n = int(input())

m = n * n

4

In [3]:
m

16

In [18]:
def fib(m):
    a, b = 1, 1
    res = []
    while m >= 1:
        res.append(a)
        a, b = b, a + b
        m -= 1
    return res

In [19]:
res = fib(m)

In [22]:
res = res[::-1]

In [23]:
res

[987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1]

In [50]:
n = int(input())

m = n * n
def fib(m):
    a, b = 1, 1
    res = []
    while m >= 1:
        res.append(a)
        a, b = b, a + b
        m -= 1
    return res
res = fib(m)
res = res[::-1]
l, r, t, b = 0, n-1, 0, n-1
mat = [[0 for _ in range(n)] for _ in range(n)]
num, tar = 0, n * n
while num <= tar-1:
    for i in range(l, r+1):
        mat[t][i] = res[num]
        num += 1
    t += 1
    for i in range(t, b+1):
        mat[i][r] = res[num]
        num += 1
    r -= 1
    for i in range(r, l-1, -1):
        mat[b][i] = res[num]
        num += 1
    b -= 1
    for i in range(b, t-1, -1):
        mat[i][l] = res[num]
        num += 1
    l += 1

4

In [59]:
for i in range(n):
    for j in range(n):
        print(mat[i][j], end = ' ')
    print()

987 610 377 233
5 3 2 144
8 1 1 89
13 21 34 55

In [58]:
mat

[[987, 610, 377, 233], [5, 3, 2, 144], [8, 1, 1, 89], [13, 21, 34, 55]]

In [60]:
n = int(input())
res = []
for i in range(n):
    num = list(input())
    res.append(num)

4
CHIN
CNDH
ASNB
ZXCG

In [61]:
res

[['C', 'H', 'I', 'N'],
 ['C', 'N', 'D', 'H'],
 ['A', 'S', 'N', 'B'],
 ['Z', 'X', 'C', 'G']]